*~
*.bak
nbproject/
ROOT/

pkcs11server
pkcs11tool
pkcs11.h
pkcs11_clnt.c
pkcs11_svc.c
pkcs11_xdr.c
pkcs11_xdr.h

*.in
*.la
*.a
*.o
*.so
*.lo

configure
config.h
libtool
stamp-h1
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
compile
depcomp
missing
install-sh
ltmain.sh
Makefile
.deps
.libs
