*~
*.bak
nbproject/private/
*.dirstamp
ROOT/

pkcs11server
pkcs11tool
pkcs11test
exampletst

*.in
*.la
*.a
*.o
*.so
*.lo

configure
config.h
libtool
stamp-h1
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
compile
depcomp
missing
install-sh
ltmain.sh
Makefile
.deps
.libs
